<div class="invoiceEditStep invoiceEditStep2">
		<div class="invoicePreview">
			<table style="width:100%">
				<tr>
					<td><div class="invoicePreview__company-block">
							<div class="invoicePreview__company-name">#name#</div>
							<div class="invoicePreview__company-address">#indexpost#, г. #city#, #address#</div>
							<div class="invoicePreview__company-phone">#phone#</div>
						</div></td>
					<td>
							<div class="invoicePreview__logo-block">
								<div class="invoicePreview__logo-change-block">
									<div class="invoicePreview__logo-wrapper"><img height="100" src="#logo#"  style="max-height: 100px; max-width: 300px;" class="invoicePreview__logo"></div>
								</div>
							</div>
					</td>
				</tr>
			</table>
			<div class="invoicePreview__bank-details-block">
				<table  style="overflow: wrap" class="invoicePreview__bank-details">
					<tbody>
					<tr class="invoicePreview__table-layout">
						<td class="invoicePreview__bank-details-id"></td>
						<td class="invoicePreview__bank-details-id-number"></td>
						<td class="invoicePreview__bank-details-kpp"></td>
						<td class="invoicePreview__bank-details-kpp-number"></td>
						<td class="invoicePreview__bank-details-bank-bik"></td>
						<td class="invoicePreview__bank-details-bank-bik-number"></td>
					</tr>
					<tr>
						<td rowspan="2" colspan="4" class="invoicePreview__bank-details-bank-name with-description">
							#bank#
                            <div class="invoicePreview__bank-details-description"><small>Банк получателя</small></div>
						</td>
						<td class="invoicePreview__bank-details-bank-bik description">БИК</td>
						<td class="invoicePreview__bank-details-bank-bik-number">#bik#</td>
					</tr>
					<tr>
						<td class="description">Сч. №</td>
						<td>#ks#</td>
					</tr>
					<tr>
						<td class="invoicePreview__bank-details-id description">ИНН</td>
						<td class="invoicePreview__bank-details-id-number">#inn#</td>
						<td class="invoicePreview__bank-details-kpp description">КПП</td>
						<td class="invoicePreview__bank-details-kpp-number">#kpp#</td>
						<td rowspan="2" class="description">Сч. №</td>
						<td rowspan="2">#rs#</td>
					</tr>
					<tr>
						<td colspan="4" class="with-description">
							#name#
							<div class="invoicePreview__bank-details-description"><small>Получатель</small></div><br>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="invoicePreview__invoice-number">Счет на оплату №#numberr# от #day." ".$monthes[$month-1]." ".$year.""#</div>
			<div class="invoicePreview__supplier">Поставщик: #name#, #indexpost#, #city#, #address#</div>
			<div class="invoicePreview__recipient">Покупатель: #client_name#</div>
			<div class="invoicePreview__items-block">
				<table class="invoicePreview__items">
					<thead class="invoicePreview__items-header">
					<tr>
						<th class="invoicePreview__items-header-number">№</th>
						<th class="invoicePreview__items-header-item">Товар или услуга</th>
						<th class="invoicePreview__items-header-count">Кол-во</th>
						<th class="invoicePreview__items-header-price">Цена</th>
						<th class="invoicePreview__items-header-total">Сумма</th>
					</tr>
					</thead>
					<tbody class="invoicePreview__items-items">
							<tr>
								<td class="invoicePreview__items-items-number">#key+1#</td>
								<td class="invoicePreview__items-items-item">#val#</td>
								<td class="invoicePreview__items-items-count"></td>
								<td class="invoicePreview__items-items-price"></td>
								<td class="invoicePreview__items-items-total"></td>
							</tr>
					</tbody>
					<tbody class="invoicePreview__items-total">
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>Итого</td>
						<td class="invoicePreview__items-total-total"></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td colspan="2" class="invoicePreview__items-total-tax"></td>
						<td class="invoicePreview__items-total-total with-tax"></td>
					</tr>
					<tr class="super-total-row">
						<td></td>
						<td></td>
						<td></td>
						<td><b>Всего</b></td>
						<td class="invoicePreview__items-total-total super-total"><b></b></td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="invoicePreview__total-rubles">Всего к оплате: <span></span></div>
				<div class="invoicePreview__comment">#comment#</div>
			<div class="no-pad">
				<table style="width:100%;">
					<tr>
						<td style="width: 30%;"><div class="" style="float: left;">#position#</div></td>
						<td style="width: 40%;" width="400" height="200">
							<div class="" style="min-width: 300px; border-bottom: 1px solid grey;">
									<div class="invoicePreview__sign-sign-block">
										<div class="invoicePreview__sign-sign-wrapper"><img  height="100" src="#sign#" class="invoicePreview__sign-sign" style="width:160px"></div>
									</div>
									<div class="invoicePreview__sign-stamp-block">
										<div class="invoicePreview__sign-stamp-wrapper"><img  height="100" src="#print#" class="invoicePreview__sign-stamp" style="width:160px; margin: -100px 0px 0px 70px;"></div>
									</div>
							</div>
								<div class="" style="color:white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
						</td>
						<td style="width:30%;"><div class="" style="float: right;">#fio#</div></td>
					</tr>
				</table>
			</div>

		</div>
	</div>