.invoiceEditStep {
	padding: 64px 80px 0px 40px;
	background-color: #fff;
	width: 850px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	    
}

.invoicePreview {
	position: relative
}

.invoicePreview__company-block {
	width: 70%
}

.invoicePreview__company-block .invoicePreview__company-name {
	font-weight: bold
}

.invoicePreview__company-block .invoicePreview__company-address,
.invoicePreview__company-block .invoicePreview__company-phone {
	margin-top: 10px
}

.invoicePreview__logo-block {
	position: absolute;
	top: -16px;
	right: 0
}

.invoicePreview__logo-block .invoicePreview__logo-change-block {
	text-align: right
}

.invoicePreview__logo-block .invoicePreview__logo-change-block .invoicePreview__logo-wrapper {
	height: 100px;
	width: 300px;
	vertical-align: middle;
	display: table-cell;
	overflow: hidden;
	font-size: 0
}

.invoicePreview__logo-block .invoicePreview__logo-change-block .invoicePreview__logo-wrapper .invoicePreview__logo {
	max-height: 100px;
	max-width: 300px
}

.invoicePreview__bank-details-block {
	margin-top: 50px
}

.invoicePreview__bank-details-block .invoicePreview__bank-details-sample {
	font-size: 11px;
	padding-bottom: 5px
}

.invoicePreview__bank-details-block .invoicePreview__bank-details {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%
}

.invoicePreview__bank-details-block .invoicePreview__bank-details td {
	border: 1px solid #d9d9d9;
	padding: 5px;
	position: relative;
	vertical-align: top
}

.invoicePreview__bank-details-block .invoicePreview__bank-details td.with-description {
	padding-bottom: 22px
}

.invoicePreview__bank-details-block .invoicePreview__bank-details td.description {
	font-size: 12px;
	padding-top: 7px
}

.invoicePreview__bank-details-block .invoicePreview__bank-details .invoicePreview__table-layout td {
	border: none;
	padding: 0
}

.invoicePreview__bank-details-block .invoicePreview__bank-details .invoicePreview__bank-details-bank-name {
	width: 60%
}

.invoicePreview__bank-details-block .invoicePreview__bank-details .invoicePreview__bank-details-bank-bik {
	width: 8%
}

.invoicePreview__bank-details-block .invoicePreview__bank-details .invoicePreview__bank-details-bank-bik-number {
	width: 32%
}

.invoicePreview__bank-details-block .invoicePreview__bank-details .invoicePreview__bank-details-id,
.invoicePreview__bank-details-block .invoicePreview__bank-details .invoicePreview__bank-details-kpp {
	width: 8%
}

.invoicePreview__bank-details-block .invoicePreview__bank-details .invoicePreview__bank-details-id-number,
.invoicePreview__bank-details-block .invoicePreview__bank-details .invoicePreview__bank-details-kpp-number {
	width: 22%
}

.invoicePreview__bank-details-block .invoicePreview__bank-details .invoicePreview__bank-details-description {
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-size: 11px
}

.invoicePreview__invoice-number {
	padding: 50px 0;
	font-size: 24px;
	font-weight: bold;
	text-align: center
}

.invoicePreview__recipient,
.invoicePreview__supplier {
	padding-bottom: 5px
}

.invoicePreview__items-block {
	padding-top: 25px
}

.invoicePreview__items-block .invoicePreview__items {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%
}

.invoicePreview__items-block .invoicePreview__items td,
.invoicePreview__items-block .invoicePreview__items th {
	border: 1px solid #e0e0e0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px 8px
}

.invoicePreview__items-block .invoicePreview__items .invoicePreview__items-header th {
	font-weight: 400;
	text-align: left
}

.invoicePreview__items-block .invoicePreview__items .invoicePreview__items-header .invoicePreview__items-header-number {
	width: 2em
}

.invoicePreview__items-block .invoicePreview__items .invoicePreview__items-header .invoicePreview__items-header-count {
	width: 5em
}

.invoicePreview__items-block .invoicePreview__items .invoicePreview__items-header .invoicePreview__items-header-price,
.invoicePreview__items-block .invoicePreview__items .invoicePreview__items-header .invoicePreview__items-header-total {
	width: 8em
}

.invoicePreview__items-block .invoicePreview__items .invoicePreview__items-header .invoicePreview__items-header-count,
.invoicePreview__items-block .invoicePreview__items .invoicePreview__items-header .invoicePreview__items-header-price,
.invoicePreview__items-block .invoicePreview__items .invoicePreview__items-header .invoicePreview__items-header-total,
.invoicePreview__items-block .invoicePreview__items .invoicePreview__items-items .invoicePreview__items-items-count,
.invoicePreview__items-block .invoicePreview__items .invoicePreview__items-items .invoicePreview__items-items-price,
.invoicePreview__items-block .invoicePreview__items .invoicePreview__items-items .invoicePreview__items-items-total {
	text-align: right
}

.invoicePreview__items-block .invoicePreview__items .invoicePreview__items-total td {
	border: none;
	height: 33px;
	text-align: right
}

.invoicePreview__items-block .invoicePreview__items .invoicePreview__items-total .super-total-row {
	font-weight: bold
}

.invoicePreview__total-rubles {
	padding-top: 25px
}

.invoicePreview__comment {
	position: relative;
	z-index: 10;
	padding-top: 25px
}
.preview-div .invoicePreview__sign{
	padding: 40px 0 80px;
}
.invoicePreview__sign {
	padding: 60px 0 0px;
	position: relative
}

.invoicePreview__sign .invoicePreview__sign-name,
.invoicePreview__sign .invoicePreview__sign-placeholder,
.invoicePreview__sign .invoicePreview__sign-position {
	position: relative;
	z-index: 1;
	display: inline-block
}

.invoicePreview__sign .invoicePreview__sign-placeholder {
	width: 220px;
	margin: 0 10px;
	color: transparent
}

.invoicePreview__sign .invoicePreview__sign-placeholder:after {
	display: block;
	content: " ";
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	background: rgba(0, 0, 0, .2);
	z-index: 5
}

.invoicePreview__sign .invoicePreview__sign-placeholder .invoicePreview__sign-sign-block.loaded .invoicePreview__sign-sign-upload,
.invoicePreview__sign .invoicePreview__sign-placeholder .invoicePreview__sign-stamp-block.loaded .invoicePreview__sign-stamp-upload {
	display: none
}

.invoicePreview__sign .invoicePreview__sign-placeholder .invoicePreview__sign-sign-block {
	position: absolute;
	left: 40px;
	bottom: 100%;
	margin-bottom: -10px
}

.invoicePreview__sign .invoicePreview__sign-placeholder .invoicePreview__sign-sign-block .invoicePreview__sign-sign {
	margin-bottom: -30px;
	left: -20px;
	max-width: 200px;
	max-height: 100px
}

.invoicePreview__sign .invoicePreview__sign-placeholder .invoicePreview__sign-stamp-block {
	position: absolute;
	left: 40px;
	top: 100%;
	margin-top: 8px
}

.invoicePreview__sign .invoicePreview__sign-placeholder .invoicePreview__sign-stamp-block .invoicePreview__sign-stamp {
	margin: -100px 0px 0px 78px;
	max-width: 160px;
	max-height: 160px;
	float: left;
}

.invoicePreview__sign .invoicePreview__sign-placeholder .invoicePreview__sign-stamp-block .invoicePreview__sign-stamp-upload {
	width: 145px
}

.invoicePreview__sign .invoicePreview__sign-sign-change,
.invoicePreview__sign .invoicePreview__sign-stamp-change {
	position: absolute;
	right: 0;
	display: none;
	width: 145px
}

.invoicePreview__sign .invoicePreview__sign-sign-change.loaded,
.invoicePreview__sign .invoicePreview__sign-stamp-change.loaded {
	display: inline-block
}

.invoicePreview__sign .invoicePreview__sign-sign-change {
	top: 40px
}

.invoicePreview__sign .invoicePreview__sign-stamp-change {
	bottom: 50px
}

.invoicePreview__logo-select-file,
.invoicePreview__sign-select-file,
.invoicePreview__stamp-select-file {
	display: none
}
.invoicePreview__items-items-item{
	font-size:12px;
}
