/* html {
  height: 100% !important;
}
body {
  height: 100% !important;
} */

.jstree-default .jstree-node,
.jstree-default .jstree-icon {
  background-image: url("../images/jstree.png");
}

.jstree-default .jstree-node {
  background-position: -292px -4px;
  background-repeat: repeat-y;
}

.jFiler ul.list-inline li {
  margin-right: 0;
}

.jstree-default .jstree-themeicon-custom {
  background-color: transparent;
  background-image: none;
  background-position: 0 0;
}

.jstree-default .jstree-anchor {
  line-height: 28px;
  height: 28px;
}

.jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url("../images/loading.gif") center center no-repeat;
}

.jstree-default .jstree-icon:empty {
  width: 24px;
  height: 28px;
  line-height: 28px;
  font-size: 15px;
}

.jstree-default .jstree-clicked,
.jstree-default .jstree-wholerow-clicked {
  background: rgba(113, 182, 249, 0.1);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.jstree-default .jstree-hovered,
.jstree-default .jstree-wholerow-hovered {
  background: rgba(113, 182, 249, 0.15);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.jstree-default .jstree-last {
  background: transparent;
}

.jstree-default .jstree-wholerow {
  height: 28px;
}

.gmaps,
.gmaps-panaroma {
  height: 300px;
  background: #f8f9fa;
  border-radius: 3px;
}

.gmaps-overlay {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  background: #71b6f9;
  border-radius: 4px;
  padding: 10px 20px;
}

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}

.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #71b6f9;
}

.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #71b6f9;
}

.jvectormap-label {
  border: none;
  background: #323a46;
  color: #f8f9fa;
  font-family: "Karla", sans-serif;
  font-size: 0.9rem;
  padding: 5px 8px;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
  background-color: #323a46;
  color: #f8f9fa;
}

.checkbox-status-round {
  display: block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.checkbox-status {
  position: relative;
}

.checkbox-status-round {
  position: absolute;
  right: -10px;
  top: 60%;
}

.checkbox-status input:checked ~ .checkbox-status-round {
  background-color: green;
}

.checkbox-status.checkbox-status-revert input:checked ~ .checkbox-status-round {
  background-color: red;
}

.checkbox-status.checkbox-status-revert .checkbox-status-round {
  display: block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

.status-round-success {
  display: block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

.status-round-failed {
  display: block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.status-round-neutral {
  display: block;
  width: 10px;
  height: 10px;
  background-color: lightgrey;
  border-radius: 50%;
}

label {
  color: #343a40;
}

body {
  color: #343a40 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.jFiler-input {
  width: auto;
}

.modal-add-component .left-side-bar-modal {
  display: none;
}

.body-all-requests .modal.show .modal-content {
  /*min-height: 520px;*/
}

.fz-11 {
  font-size: 11px;
}

#datatable-orders-journal tr,
#datatable-price-history tr,
#datatable-invoice-journal tr,
#datatable-invoice-journal2 tr,
#invoice-journal-modal tr {
  cursor: pointer;
}

.table-editable-order {
  font-size: 12px;
}

.table-editable-order thead tr:nth-child(2) td div {
  display: none;
}

.table-editable-order .btn-toolbar,
#coming-providers-table .btn-toolbar,
#table-expense .btn-toolbar,
#table-expense-deffect .btn-toolbar,
#datatable-invoice-journal .btn-toolbar,
#bank-statement-table .btn-toolbar,
#arrivals-table .btn-toolbar,
#bank-journal-invoices-table .btn-toolbar,
#supply-request-table .btn-toolbar,
#accountant-payment-table .btn-toolbar,
#purchase-invoice-table .btn-toolbar {
  flex-wrap: nowrap;
}

#supply-request-table .tabledit-input,
#accountant-payment-table .tabledit-input,
#purchase-invoice-table .tabledit-input,
#arrivals-table .tabledit-input {
  min-width: 100px;
  border: none;
  padding: 0;
  font-size: 15px;
  text-align: center;
}

.table-editable-order .tabledit-input {
  border: none;
  padding: 0;
  font-size: 15px;
  text-align: center;
}

td,
th {
  border: 1px solid #dee2e6;
  font-size: 15px;
  text-align: center;
}

td.min-width-130 {
  min-width: 130px;
  height: 66px;
}

th.max-width-90,
td.max-width-90 {
  width: 90px;
}

.navigation-menu > li.has-submenu > a:hover {
  color: #10c469;
}

.has-submenu .btn-group button:hover {
  color: #10c469;
}

button.dropdown-toggle:hover button.dropdown-toggle ~ .dropdown-menu {
  color: red;
  background-color: red;
}

.custom-tabs.nav-tabs .nav-link.active {
  background: #10c469;
  border: 1px solid #10c469;
}

.custom-tabs.nav-tabs {
  border-bottom: none;
  flex-wrap: nowrap;
}

.nav.custom-tabs li:first-child a {
  border-top-right-radius: 0;
}

.nav.custom-tabs.order-tabs li a {
  min-height: 60px;
  display: flex;
  align-items: center;
}

.nav.custom-tabs li:last-child a {
  border-top-left-radius: 0;
}

.custom-tabs.nav-tabs .nav-link {
  border-color: #10c469;
  color: #10c469;
}

.page-item.active .page-link {
  background-color: #10c469;
  border-color: #10c469;
}

#currency-trans .jFiler-theme-default .jFiler-input {
  margin: 0 0 9px 0;
}

#purchase-invoice-table .jFiler-item-assets {
  display: flex;
}

#purchase-invoice-table .jFiler-input-button {
  background: #10c469;
  border: 1px solid #10c469;
}

.fa-file-pdf:before {
  color: #10c469;
}

#purchase-invoice-table .jFiler-item-inner {
  display: flex;
  align-items: center;
  margin-left: 5px;
  cursor: pointer;
}

#purchase-invoice-table .jFiler {
  display: flex;
  align-items: center;
}

#purchase-invoice-table .jFiler-input {
  margin: 0 0 0 0;
}

.modal {
  background-color: rgba(0, 0, 0, 0.3);
}

#topnav .navigation-menu {
  background-color: #38414a;
  max-height: 70%;
}

#navigation {
  background-color: #38414a;
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 90%;
  }
}

.main-client-info-table tr,
.contact-info-table tr {
  position: relative;
  overflow: hidden;
}

.main-client-info-table td,
.contact-info-table td {
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.main-client-info-table tr:nth-child(odd):after,
.main-client-info-table tr:nth-child(even):after,
.contact-info-table tr:nth-child(odd):after,
.contact-info-table tr:nth-child(even):after {
  display: block;
  width: 100px;
  right: 0;
  height: 47px;
  background-color: #f8f9fa;
  position: absolute;
  content: "";
}

.main-client-info-table tr:nth-child(odd):before,
.main-client-info-table tr:nth-child(even):before,
.contact-info-table tr:nth-child(odd):before,
.contact-info-table tr:nth-child(even):before {
  display: block;
  width: 100px;
  left: 0;
  height: 47px;
  background-color: #f8f9fa;
  position: absolute;
  content: "";
}

.main-client-info-table tr:nth-child(even):after,
.contact-info-table tr:nth-child(even):after {
  background-color: #fff;
}

.main-client-info-table tr:nth-child(even):before,
.contact-info-table tr:nth-child(even):before {
  background-color: #fff;
}

.input-date {
  cursor: pointer;
}

#bank-statement-table .form-control[readonly],
#coming-providers-table .form-control[readonly],
#table-expense .form-control[readonly],
#table-expense-deffect .form-control[readonly],
form .form-control[readonly] {
  background-color: #fff;
}

#bank-statement-table thead th,
#coming-providers-table thead th,
#table-expense thead th {
  white-space: nowrap;
}

.tabledit-deleted-row {
  background-color: #ff726f;
  transition: 0.7s;
}

.tabledit-deleted-row td:last-child {
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
}

.td-disabled {
  opacity: 0.8;
  pointer-events: none;
  cursor: inherit;
}

.tabledit-delete-button {
  min-width: 40px;
}

#coming-providers-table tbody tr td:last-child,
#add-provider-modal_control-order-page tbody tr td:last-child,
#account-modal-table tbody tr td:last-child,
#table-expense tbody tr td:last-child,
#table-expense-deffect tbody tr td:last-child {
  min-width: 125px;
}

.text-underline {
  text-decoration: underline;
}

.navbar-custom {
  display: none;
}

#topnav .topbar-menu {
  margin-top: 0;
}

#topnav {
  background-color: #38414a;
}

@media (max-width: 695px) {
  .navbar-custom {
    display: block;
  }

  .topbar-menu.active {
    display: none;
  }
}
@media (max-width: 690px) {
  .navbar-custom {
    display: block;
  }

  .topbar-menu.active {
    display: block;
  }
  #topnav .navigation-menu > li .submenu li a {
    color: #fff;
  }

  #topnav .navigation-menu > li .submenu ul {
    list-style: none;
  }

  #topnav .navigation-menu > li .submenu {
    padding-left: 40px;
  }

  #topnav .navigation-menu > li .submenu li a:hover {
    color: #71b6f9;
    transition: 0.8s;
  }
}
@media (max-width: 1190px) {


  .submenu .dropdown-item {
    color: #fff;
  }

  .submenu .dropdown-item:hover {
    background-color: transparent;
  }


}

.select2-container {
  /*min-width: 160px;*/
}

.yadcf-filter-reset-button {
  /*display: none;*/
}

table tfoot tr td:last-child div {
  display: none;
}

/*-- RANGE_DATE INPUT --*/
.yadcf-filter-wrapper {
  display: flex;
  align-items: center;
}

.yadcf-filter-wrapper-inner {
  border: none;
  display: flex;
}

.input-daterange input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.9rem + 2px);
  padding: 0.45rem 0rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.yadcf-filter-range-date-seperator {
  display: flex;
  align-items: center;
}

.yadcf-filter-reset-button {
  display: inline-block;
  /*height: 36px;*/
  /*border: 1px solid #6c757d;*/
}

.select2-search__field {
  width: auto;
}

.download-doc {
  display: flex;
  align-items: center;
}

#engineer-table-order tfoot th {
  /*border: none; */
}

#engineer-table-order tfoot tr td:last-child {
  /*display: none; */
}

#engineer-table-order thead th,
.table thead th,
.table tbody td
 {
  /*border-bottom: none; */
  /*border: none;*/
  /* padding: 0.45rem 0.9rem; */
  min-width: 100px;
}

#engineer-table-order thead tr th:first-child {
  /*border-bottom: none; */
}

#engineer-table-order thead tr:nth(2) th {
  /*border-top: none; */
}
/* *********************** */

/*#engineer-table-order  tr td:nth-child(1),*/
#purchase-invoice-table  tr td:nth-child(2),
/*#arrivals-table  tr td:nth-child(1),*/
/*#accountant-payment  tr td:nth-child(1),*/
/*#supply-request  tr td:nth-child(1)*/ {
  border-right: none;
}

/*#engineer-table-order  tr th:nth-child(1),*/
#purchase-invoice-table  tr th:nth-child(2),
/*#arrivals-table  tr th:nth-child(1),*/
/*#accountant-payment  tr th:nth-child(1),*/
/*#supply-request  tr th:nth-child(1)*/ {
  border-right: none;
}

/* *************************** */

.modal h5 {
  display: inline-block;
}

.slide-order__content {
  display: none;
}

.slide-order {
  display: inline-block;
}

.slide-order {
  cursor: pointer;
  color: #343a40;
  text-decoration: underline;
  position: relative;
}

.slide-order:after {
  content: "";
  display: block;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #343a40 transparent transparent transparent;
}

.show.slide-order:after {
  border-width: 0 3px 3px 3px;
  border-color: transparent transparent #343a40 transparent;
}

.jFiler-item-trash-action {
  cursor: pointer;
}

/* Номенуклатура */
.btn-add__comp {
  padding: 10px 60px;
}
.inp-search_categ {
  padding: 25px 50px;
}
.edit-category-modal_cont {
  padding: 30px 66px;
  background: #f4f4f4;
  border-radius: revert;
}
.edit-category-modal_cont input {
  background: #f4f4f4;
  border-color: #000;
  border-radius: revert;
}

#wrapper-category {
  height: 100%;
  width: 100%;
}

.table-category-content__el td,
.table-category-content__el th {
  font-size: 16px;
  text-align: left;
}

.fe-search {
  right: 49px;
  top: 10px;
  position: relative;
  z-index: 111;
}

.edit-category-modal_cont .modal-header {
  border: none;
}

.edit-category-modal_cont button {
  background: #000;
  border-radius: revert;
}
.edit-category-modal_cont .close {
  background-color: transparent;
  padding: 0;
  border: 0;
}

.download-pdf-modal {
  color: #808080;
  border-bottom: 1px solid #808080;
}

.edit-category-modal_cont h4 {
  font-size: 24px;
}

.component-page button {
  background: #000;
  border-radius: revert;
  padding: 13px 0;
}

.nomencltr-categories button {
  background: #000;
  border-radius: revert;
  padding: 10px 50px;
}
.nomencltr-categories .btn-add__comp {
  background: #000;
  border-radius: revert;
  padding: 10px 90px;
}

.nomencltr-categories .btn-search-cat {
  background: transparent;
  border-radius: revert;
  padding: 0.45rem 0.9rem;
}

.nomencltr-categories .inp-search_categ {
  border-color: #000;
  border-radius: revert;
  /* background: #ebeff2; */
  background: transparent;
}

.add_compon-del-span {
  color: #808080;
  border-bottom: 1px solid #808080;
  font-size: 12px;
  cursor: pointer;
}

.add_compon-del-span:hover {
  color: #000;
  border-bottom: 1px solid #000;
}

.btn_down-text {
  background: #ebeff2;
  border-color: #000;
  color: #000;
  padding: 15px 97px;
  border-radius: revert;
  text-align: left;
}
.btn_down-text:hover {
  background: #ebeff2;
  border-color: #000;
  color: #000;
}

.category-comp_name .btn-add__comp {
  background: #000;
  border-radius: revert;
}

.category-comp_name .btn-search-cat {
  background: transparent;
  border-radius: revert;
  border-color: #000;
  /* padding: 0.45rem 0.9rem; */
}

.table-componet__categ-list button {
  background: #000;
  border-radius: revert !important;
  border: none;
}
.table-componet__categ-list:hover button {
  background: rgb(41, 41, 41);
}

#categor-add_component .jFiler-input-button {
  background: #000;
  border-radius: revert !important;
}

.category-comp_name .table-componet__categ-list {
  width: 100% !important;
  margin-bottom: 30px !important;
}

.category-comp_name .page-item.active .page-link {
  background-color: transparent;
  border-color: transparent;
  color: #000;
}

#categor-add_component .jFiler-items-default .jFiler-item .jFiler-item-icon {
  color: #000;
}

.category-list__page button {
  background: #000;
  border-radius: revert !important;
  border: none;
}

.category-comp_name .page-item.disabled .page-link {
  color: #000;
  pointer-events: none;
  cursor: auto;
  background-color: transparent;
}

.left-block-nomenucltr {
  background: #e5e5e5;
  min-height: 100vh;
}

.left-block-nomenucltr .btn.btn-dark {
  background: #000;
  border-radius: revert !important;
  border: none;
      padding: 10px 50px;
}
.left-block-nomenucltr-modal {
  background: #e5e5e5;
}
.nomencltr-categories .close {
  background: transparent;
  border-radius: revert;
  padding: 0;
}

#choose-component form button {
  background: transparent;
  border-radius: revert;
  padding: 0;
}

#choose-component .fe-search {
    right: 34px;
    top: 8px;
    position: relative;
    z-index: 111;
}
#category-components-list td, #category-components-list th {
  text-align: left;
  width: 100px;
}
.nomencltr-categories .table-componet__categ-list tr td, .nomencltr-categories .table-componet__categ-list tr th {
  padding: 0.25rem;
}
#choose-component .page-item.active .page-link {
    background-color: transparent;
    border-color: transparent;
    color: #000;
}
#choose-component .page-item.disabled .page-link {
  color: #000;
  pointer-events: none;
  cursor: auto;
  background-color: transparent;
}
.nomencltr-categories .page-item.active .page-link {
    background-color: transparent;
    border-color: transparent;
    color: #000;
}
.nomencltr-categories .page-item.disabled .page-link {
  color: #000;
  pointer-events: none;
  cursor: auto;
  background-color: transparent;
}


.nomencltr-categories .order-select__component .choose-component-enginer  {
  color: #343a40;
}

.btn-component__enginer  {
  text-decoration: none;
  color: #fff !important;
  background-color: #000;
  padding: 5px 15px;
}
.btn-component__enginer:hover {
  background-color: #383838;
  color: #fff;
}
  
.edit-category-modal_cont .add {
  background-color: #000;
  padding: 10px 20px;
    color: #fff;
    width: 50px;
}  

.search-group_categor .fe-search {
  right: 33px;
    top: 21px;
    position: relative;
    z-index: 111;
}
  
@media (min-width: 992px) {
  .left-block-nomenucltr {
    max-width: 22%;
    white-space: nowrap
  }
  .left-block-nomenucltr-modal {
    white-space: nowrap
  }
  .btn_down-text {
    margin-left: 40px;
  }
  .category-comp_name .row .form-search {
    margin-left: 40px;
  }
  .left-block-nomenucltr .submenu a {
    font-size: 18px;
  }
}



@media (max-width: 991.98px) {
  .edit-category-modal_cont {
    padding: 0 20px;
  }
  .nomencltr-categories .btn-add__comp {
    background: #000;
    border-radius: revert;
    padding: 10px 50px;
  }
}
@media (max-width: 767.98px) {
  .edit-category-modal_cont h4 {
    font-size: 20px;
    text-align: center;
  }
  .left-block-nomenucltr .submenu a {
    font-size: 14px;
  }

  .add__comp {
    padding-top: 1.5rem !important;
  }
  .form-search__comp {
    padding-top: 1.5rem !important;
  }
}
@media (max-width: 480.98px) {
.category-comp_name section {
  padding: 10px 20px 10px 40px !important;
}
.btn-add__comp {
    padding: 10px 55px;
    margin-left: 10px;
}
}

/* order table */

.accountant-order-page .custom-tabs .border-round-none {
  height: 100%;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  background-color: #fff;
      border: 1px solid #e8e6e6;
      color: #6c757d;
          font-size: 14px;
}

.accountant-order-page .custom-tabs .border-round-none.active {
    background: #5ac072;
    border: 1px solid  #5ac072;
}

.bg-img_order {
  position: absolute;
    right: 0;
    height: 100%;
}

.accountant-order-page .custom-tabs .no-active{
pointer-events: none;
}

.accountant-order-page .custom-tabs .no-active .border-round-none {
    background-color: #f4f4f4;
    color: #b7b3b3;
}

.oder-marker_tab {
  position: relative;
bottom: 20px;
left: 10px;

}

.last-step .border-round-none {
  background-image: url('../images/marker-oder.svg');
  background-repeat: no-repeat;
  background-position: right 4px top 3px;
}

.order-tabs-content {
  background-color: #fff;
}

/* Order table formation-order */

#formation-order td, #formation-order th {
    border: 1px solid #dee2e6;
    font-size: 11px;
    text-align: center;
}

#formation-order thead th, #formation-order .table thead th {
  padding: 0.42rem;
  min-width: 61px;
}

#formation-order td.min-width-130 {
    min-width: 60px;
    height: 66px;
    padding: 0.75rem;
}
#formation-order .table-editable-order .tabledit-input {
    border: none;
    padding: 0;
    font-size: 11px;
    text-align: center;
    width: 100%;
}

#formation-order .table th, #formation-order .table td {
    padding: 0.45rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

#formation-order .btn {
  font-size: 0.875rem;
  padding: 0.28rem 0.7rem;
  line-height: 1.5;
    border-radius: 0.15rem;
}

#formation-order table.dataTable {
    border-collapse: collapse !important;
    margin-bottom: 15px !important;
    font: larger sans-serif;
    table-layout: fixed;
    width: 1271px !important; 
}

#formation-order table thead th:nth-child(2){
  width: 5%;
}



#formation-order table thead th:nth-child(3),
#formation-order table thead th:nth-child(4),
#formation-order table thead th:nth-child(5),
#formation-order table thead th:nth-child(6),
#formation-order table thead th:nth-child(7),
#formation-order table thead th:nth-child(8),
#formation-order table thead th:nth-child(9),
#formation-order table thead th:nth-child(10),
#formation-order table thead th:nth-child(11),
#formation-order table thead th:nth-child(12),
#formation-order table thead th:nth-child(13),
#formation-order table thead th:nth-child(14),
#formation-order table thead th:nth-child(15),
#formation-order table thead th:nth-child(16),
#formation-order table thead th:nth-child(17),
#formation-order table thead th:nth-child(18),
#formation-order table thead th:nth-child(19),
#formation-order table thead th:nth-child(20) {
  width: 10%;
}

#formation-order table thead th:nth-child(21) {
  width: 5%;
}
#formation-order table thead th:nth-child(22) {
  width: 15%;
}

#formation-order table tbody td:nth-child(5) {
  
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* #formation-order table tbody td:nth-child(5):hover {
  z-index: 1;
  width: 500px;
  white-space: normal;
  background-color: #FFF;
  display: inline-block;
} */

.wrapper-category .btn-toolbar {
    flex-wrap: nowrap;
}

/* bank-statement-table_wrapper */

/* #bank-statement-table_wrapper table {
  border-collapse: collapse;
}

#bank-statement-table_wrapper thead {
  position: sticky;
  top: 0;
}
#bank-statement-table_wrapper th {
  transform:scale(0.999);
} */

#categor-components-list-name_paginate {
    margin-top: 15px;
}
/* scroll table oder */ 

.scroll-table__block {
  height: 400px;
    overflow: auto;
    /*overflow-x: hidden;*/
}

#engineer-table-order thead {
  position: sticky;
  position: -webkit-sticky;
 position: -moz-sticky;
 position: -ms-sticky;
 position: -o-sticky;
top: 0;
}
#engineer-table-order thead th {
background: #fff;
z-index: 9999;
outline: 1px solid #dee2e6;               
border:none; 
outline-offset: -1px;
/* border-top: 1px solid #dee2e6; */
}

#engineer-table-order  table thead th {
/* border-top: none !important;
border-bottom: none !important;
box-shadow: inset 0 2px 0 #dee2e6,
inset 0 -2px 0 #dee2e6; */
/* padding: 2px 0; */
}

#sidebar-menu > ul > li > a,
a.for-arrow{
  display: inline-block;
}

.nav-second-level li a, 
.nav-thrid-level li a,
.nav-second-level li a.for-arrow, 
.nav-thrid-level li a.for-arrow{

  display: inline-block;
}

.level-1 .for-arrow .menu-arrow{
  top: 5px;

}
.level-2 .for-arrow .menu-arrow{
  top: 0;
}

.nav-second-level li.mm-active > a, 
.nav-third-level li.mm-active > a,
.nav-second-level li a, 
.nav-thrid-level li a{
  color: #6c757d;
}

.scroll-table__block::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #f9f9fd;
}
.scroll-table__block::-webkit-scrollbar-thumb {
    background-color: #e2e2e2;
}

/* th:after {
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #dee2e6;
} */

/*order scroll table */

#provider-answers thead, 
#offer-formation thead,
#logistics thead,
#account-formation thead,
#receipt-of-payment thead,
#purchase-order thead,
#provider-invoices thead,
#accountant-payment thead,
#supply-request thead,
#product-comings thead,
#qc thead,
#shipment thead,
#deffect thead
{
  position: sticky;
  position: -webkit-sticky;
 position: -moz-sticky;
 position: -ms-sticky;
 position: -o-sticky;
top: 0;
}
#provider-answers thead th, 
#offer-formation thead th,
#logistics thead th,
#account-formation thead th,
#receipt-of-payment thead th,
#purchase-order thead th,
#provider-invoices thead th,
#accountant-payment thead th,
#supply-request thead th,
#product-comings thead th,
#qc thead th,
#shipment thead th,
#deffect thead th
{
background: #fff;
z-index: 9999;
outline: 1px solid #dee2e6;               
border:none; 
outline-offset: -1px;
}

#provider-answers .scroll-table__block .dt-buttons, 
#offer-formation .scroll-table__block .dt-buttons,
#logistics .scroll-table__block .dt-buttons,
#account-formation .scroll-table__block .dt-buttons,
#receipt-of-payment .scroll-table__block .dt-buttons,
#purchase-order .scroll-table__block .dt-buttons,
#provider-invoices .scroll-table__block .dt-buttons,
#accountant-payment .scroll-table__block .dt-buttons,
#supply-request .scroll-table__block .dt-buttons,
#product-comings .scroll-table__block .dt-buttons,
#qc .scroll-table__block .dt-buttons,
#shipment .scroll-table__block .dt-buttons,
#deffect .scroll-table__block .dt-buttons
 {
    padding-bottom: 10px;
}
/* offer-formation scroll table */


.left-block-nomenucltr2{
  max-width: 32%;
}

.d-none{
  display: none;
}

#choose-component .fe-search,
.fe-search{
  position: absolute;
  right: 35px;
  top: 40px;
}

.modal-lg-2{
  max-width: 1300px;
}